@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-archivo);

  --color-navy: #11114A;
  --color-orange: #FF7100;
  --color-purple: #393997;
  --color-dark-blue: #050565;
  --color-light-purple: #B7B7FF;
}

body {
  background: #11114A;
  color: #ffffff;
  font-family: var(--font-archivo), Arial, sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
