@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #050565;
  --navy: #11114A;
  --orange: #FF7100;
  --purple: #393997;
  --dark-blue: #050565;
  --light-purple: #B7B7FF;
  --light-orange: #FFEBDB;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-navy: var(--navy);
  --color-orange: var(--orange);
  --color-purple: var(--purple);
  --color-dark-blue: var(--dark-blue);
  --color-light-purple: var(--light-purple);
  --color-light-orange: var(--light-orange);
  --font-sans: var(--font-archivo);
}

body {
  background: var(--background);
  color: var(--foreground);
}
